{% extends 'root/home.html' %}

{% load static %}



{% block content %}
{% load widget_tweaks %}
<div class="card" style="margin:10%;">
    <div class="header">
        <h1>Impact noté</h1>
    </div>
    <div class="body">
        <form action="" method="POST">
            {% csrf_token %}

            {{form}}



            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>


    </div>



</div>





{% endblock %}