{% extends 'root/home.html' %}

{% load static %}



{% block content %}
{% load widget_tweaks %}
<div class="card" style="margin:10%;">
    <div class="header">
        <h1>Type Impact</h1>
    </div>
    <div class="body">
        <form action="" method="POST">
            {% csrf_token %}

            <!-- ligne 1 -->
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        {% render_field form.reference class="form-control" aria-required="true" %}
                        <label class="form-label">Reference </label>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        {% render_field form.description class="form-control" aria-required="true" %}
                        <label class="form-label">Description</label>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>


    </div>



</div>





{% endblock %}