{% extends 'root/home.html' %}

{% load static %}



{% block content %}
{% load widget_tweaks %}
<div class="card" style="margin:10%;">
    <div class="header">
        <h1>Mesure</h1>
    </div>
    <div class="body">
        <form action="" method="POST">
            {% csrf_token %}

            <!-- ligne 1 -->
            <div class="col-sm-12">
                <h2 class="card-inside-title">Etat de mesure</h2>
                
            </div>

            <!-- ligne 2 -->

            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        {% render_field form.reference class="form-control" aria-required="true" %}
                        <label class="form-label">Réference</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        {% render_field form.type class="form-control" aria-required="true" %}
                        <label class="form-label">Type</label>
                    </div>
                </div>
            </div>

            <!-- ligne 3 -->

            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                       
                        <label class="">Actif Critique</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        {% render_field form.note class="form-control" aria-required="true" %}
                        <label class="form-label">Note</label>
                    </div>
                </div>
            </div>

            <!-- ligne 4 -->
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        {% render_field form.description class="form-control" aria-required="true" %}
                        <label class="form-label">Description </label>
                    </div>
                </div>
            </div>

            

            <!-- ligne 6 -->    
            <div class="col-md-6">
                <input class="btn btn-primary" type="" value="Annuler">
            </div>
            
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Confirmer Modification">
            </div>
        </form>


    </div>



</div>











{% endblock %}