{% extends 'root/home.html'%}

{% block content %}
<h1>Liste des actifs</h1>



<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            
            <div class="body">
                <!-- Nav tabs -->
                {% block tags %}
                {% endblock %}

                <!-- Tab panes -->
                <div class="tab-content">
                   {% block tabContent %}
                   {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
















                                
    